---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
const { title, selectedItem } = Astro.props;
---
<!DOCTYPE html>
<html>
  <Header title={title} />
  <body>
    <div class="content">
      <Sidebar selectedItem={selectedItem} />
      <nav class="main">
        <div class="container">
          <slot />
        </div>
      </nav>
    </div>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
    <script>
      import '../scripts/chips.js';
      import '../scripts/gui-lightbox.js';
    </script>
  </body>
</html>